<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <jmxConfigurator/>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d %p [%t%notEmpty{ %X{X-Alo7-Request-Id}}] %c - %m%n%ex"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
